* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Open Sans;
}

a {
    text-decoration: none;
}

h3 {
    color: rgba(2, 2, 169, 1);
    font-weight: 800;
}

h5 {
    color: rgba(2, 2, 169, 1);
}

h3+p {
    color: rgb(4, 4, 130);
    font-size: large;
}

p small {
    color: rgb(4, 4, 130);
}

.modal-body p {
    color: #0202a9;
    text-align: justify;
}

/*******************************************************************************************************************************************************/
/* CSS FOR HEADER.PHP STARTS HERE */
.navbar {
    margin: 0.5em auto;
    margin-top: 0;
    width: 100%;
    height: 5em;
    background-color: rgb(245, 249, 255);
    box-shadow: 0px 5px 20px 0px #FFF;
    text-transform: uppercase;
    z-index: 9999;
}

.navbar-nav li {
    margin: 0 20px;
}

.navbar ul li a {
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 142.857%;
}

.navbar ul li a:hover {
    color: blue;
    transition: .7s;
}

.customize {
    border-radius: 2rem;
    border: 2px solid blue;
    background: none;
    color: blue;
    font-size: 1rem;
    font-weight: 700;
}

.customize:hover {
    background: linear-gradient(to right, rgba(2, 2, 169, 1) 3%, rgba(25, 95, 255, 1), rgba(2, 2, 169, 1) 98%);
    color: white;
    border: 2px solid blue;
    transition: .7s;
}

.navbar-logo {
    color: blue;
    font-size: 2em;
    font-weight: 700;
    line-height: 66.667%;
}

.navbar-toggler:active {
    color: blue;
    border: 1px solid blue;
}

@media (max-width: 992px) {
    .collapse {
        background-color: rgba(255, 255, 255, 0.8);
        transition: ease-in-out 1s;
        border-radius: 1rem;
    }

    #navbarSupportedContent {
        text-align: center;
    }

    .navbar::before {
        display: none;
    }

    .navbar::after {
        display: none;
    }
}

@media (max-width: 235px) {
    .anouncebtn {
        margin-top: 5px;
    }
}

/* underline hover effect for the nav ul starts here */
.nav_link {
    display: inline-block;
    position: relative;
}

.nav_link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(2, 2, 169, 1) 3%, rgba(25, 95, 255, 1), rgba(2, 2, 169, 1) 98%);
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.nav_link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

.nav_link.active::after {
    transform: scaleX(1);
}

/* underline hover effect for the nav ul ends here */
/* Underline animation for navbar starts here */
@keyframes navbar {
    0% {
        left: 0;
    }

    50% {
        left: calc(100%);
    }

    100% {
        left: 0;
    }
}

.navbar::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(2, 2, 169, 1) 3%, rgba(25, 95, 255, 1), rgba(2, 2, 169, 1), rgba(25, 95, 255, 1), rgba(2, 2, 169, 1), rgba(25, 95, 255, 1), rgba(2, 2, 169, 1), rgba(25, 95, 255, 1), rgba(2, 2, 169, 1), rgba(25, 95, 255, 1), rgba(2, 2, 169, 1), rgba(25, 95, 255, 1), rgba(2, 2, 169, 1), rgba(2, 2, 169, 1) 98%);
    border-radius: 2px;
}

.navbar::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 10px;
    bottom: 0px;
    border-radius: 20%;
    background: rgb(255, 255, 255);
    animation: navbar 10s infinite linear;
}

/* Underline animation for navbar ends here */

.Head1Tag {
    position: fixed;
    width: 100%;
    left: 0;
    margin-top: -90px;
    background: linear-gradient(to right, rgba(2, 2, 169, 1) 3%, rgba(25, 95, 255, 1), rgba(2, 2, 169, 1) 98%);
    color: white;
    z-index: 9000;
}

.coachprograms {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(2, 2, 169, 1) 3%, rgba(25, 95, 255, 1), rgba(2, 2, 169, 1) 98%);
    color: white;
    z-index: 8900;
}

.coachprogramsbody {
    margin-top: 100px;
}

@media (max-width:768px) {
    #testthisidiot {
        margin-top: 100px;
    }
}

.homefromourprogpage {
    position: fixed;
    top: 2%;
    left: 2%;
    color: white;
    z-index: 9990;
    border-color: white;
}

.modal {
    z-index: 9999;
}

.Head1TagBody {
    margin-top: 200px;
}

/* CSS FOR HEADER.PHP ENDS HERE */
/**********************************************************************************************************************/
/**********************************************************************************************************************/
/* CSS FOR INDEX.PHP STARTS HERE */
body {
    margin-top: 100px;
}

.pass_eye {
    position: relative;
    top: -50%;
    left: 90%;
    cursor: pointer;
}

.btn-toolbar {
    margin: 10px 0;
}

.main-card {
    background-color: rgb(245, 249, 255);
}

.sliderCard {
    height: 325px;
    overflow-y: auto;
    /* scrollbar-width: thin; */
}

.sliderCard::-webkit-scrollbar {
    width: 0.3rem; 
}

.sliderCard::-webkit-scrollbar-thumb {
    background-color: rgba(0, 76, 255, 0.242);
    border-radius: 0.2rem;
}

.sliderCard::-webkit-scrollbar-track{
    background-color: #ddd;
}

.sliderCard::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0, 76, 255, 1)   ;
}

.carde {
    border-radius: 1rem;
    margin: 0 10px 10px 10px;
}

.inspirebtn,
.anouncebtn {
    background-color: white;
    border-radius: 2rem;
    border: 2px solid blue;
    color: blue;
    font-size: 1rem;
    font-weight: 700;
}

.inspirebtn,
.anouncebtn:hover {
    background-color: #0202a9;
    color: white;
    transition: .5s;
}

.socials .card-link i {
    font-size: 2rem;
    color: blue;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width:1200px) {
    .socials .card-link i:nth-child(1) {
        margin-left: 0;
    }
}

.detail,
.cardLink {
    border-radius: 2rem;
    border-color: blue;
    color: blue;
}

.detail,
.cardLink:hover {
    background: linear-gradient(to right, rgb(2, 2, 169) 3%, rgba(25, 95, 255, 1), rgba(2, 2, 169, 1) 98%);
    border-color: blue;
    color: white;
}

.cader {
    border: none;
}

.success_card {
    height: 100%;
    overflow: hidden;
}

.success_card img:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease;
}

@media (max-width:768px) {
    .caders {
        margin-top: 10px;
    }
}

.gradient-section {
    background: linear-gradient(to right, rgba(253, 95, 119, 0) 3%, rgba(2, 2, 169, 1), rgba(25, 95, 255, 1), rgba(2, 2, 169, 1), rgba(253, 95, 119, 0) 98%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.advert {
    background: linear-gradient(to right, rgba(2, 2, 169, 1) 3%, rgba(25, 95, 255, 1), rgba(2, 2, 169, 1) 98%);
    text-align: center;
    line-height: 15rem;
    height: 15rem;
}

.BookModal {
    background-color: rgb(245, 249, 255);
    ;
}

.BookModalCard {
    background-color: rgb(245, 249, 255);
    ;
}

.BookModalBtn {
    background: none;
    border-radius: 2rem;
    border-color: blue;
    color: blue
}

.BookModalBtn:hover {
    color: white;
}

.BookModalBtnDnld:hover {
    background: linear-gradient(to right, rgba(2, 2, 169, 1) 3%, rgba(25, 95, 255, 1), rgba(2, 2, 169, 1) 98%);
    border-color: blue;
}

#ContactPage,
#BlogPage,
#ServicePage,
#AboutPage {
    display: none;
}

/* Underline animation for book sale starts here */
@keyframes BookAnimate {
    0% {
        left: 0;
    }

    50% {
        left: calc(100%);
    }

    100% {
        left: 0;
    }
}

.BookAnimate::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    left: 0;
    bottom: 0;
    background: none;
    border-radius: 2px;
}

.BookAnimate::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 10px;
    bottom: 0px;
    border-radius: 20%;
    background: rgb(255, 255, 255);
    animation: BookAnimate 5s infinite linear;
}

/* Underline animation for book sale ends here */

.card-title {
    color: rgba(2, 2, 169, 1);
}

.BookAnimate .card-title,
.BookCardText {
    color: white;
}

#MeetTheCoach,
#ModalBookTitle {
    color: rgba(2, 2, 200, 1);
}

.card-body p {
    color: rgb(4, 4, 130);
    text-align: justify;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    /* Initially hide the button */
}

#anouncement {
    display: none;
}

/* CSS FOR INDEX.PHP ENDS HERE */
/*************************************************************************************************************************/
/*************************************************************************************************************************/
/* CSS FOR FOOTER.PHP STARTS HERE */
footer.bd-footer {
    color: white;
    background-color: rgba(2, 2, 169, 1);
    background: linear-gradient(to right, rgba(2, 2, 169, 1) 3%, rgba(25, 95, 255, 1), rgba(2, 2, 169, 1), rgba(25, 95, 255, 1), rgba(2, 2, 169, 1), rgba(25, 95, 255, 1), rgba(2, 2, 169, 1), rgba(25, 95, 255, 1), rgba(2, 2, 169, 1), rgba(25, 95, 255, 1), rgba(2, 2, 169, 1), rgba(25, 95, 255, 1), rgba(2, 2, 169, 1), rgba(2, 2, 169, 1) 98%);

}

footer a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.small li {
    color: white;
}

.mb-3 h5 {
    color: rgb(202, 198, 248);
    font-weight: 700;
    font-size: 1.5rem;
}

.mb-3 a span {
    color: #FFF;
    font-size: 3rem;
}

/* CSS FOR FOOTER.PHP ENDS HERE */
/***********************************************************************************************************************/